@charset "UTF-8";
.title-font {
	font-weight: 500;
	color:#6e6e6e;
	font-family: 'Black Han Sans', sans-serif;
}
.warning{
	margin-top: 30px;
	text-align: center;
	color : red;
}
.login-form {
	padding: 20px 10px 10px 10px;
	width: 550px;
	height: 350px;
	margin-top: 200px;
	border-radius: 15px;
	background-color: #E0EBFF;
}
.button-div{
	margin-top: 30px;
	text-align: center;
}
.loginButton{
	border:none;
	border-radius: 10px;
	width: 250px;
    height: 50px;
    background-color: #6AAFE6;
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin : auto;
}